:root {
  font-family: 'Roboto', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 72px;
    padding-left: 72px;
  }
}

.section {
  scroll-margin-top: 50px;

  @include media(desktop) {
    scroll-margin-top: 80px;
  }
}

.section-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  padding: 8px 16px;
  border-radius: 50px;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;

  @include media(desktop) {
    top: -58px;
    padding: 16px 24px;
    font-size: 48px;
  }
}

.section-bg-wrapper {
  border: 6px solid #fff;
  border-radius: 40px;
  padding: 50px 18px 18px 18px;
  position: relative;

  @include media(desktop) {
    padding: 92px 40px 40px 40px;
  }
}
