.gallery-section {
  padding-top: 58px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 142px;
    padding-bottom: 90px;
  }
}

.gallery-container {
}

.gallery-bg-wrapper {
}

.gallery-title {
  background: #e99607;
}

.gallery-bg-container {
}

.gallery-swiper-container {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;

  @include media(desktop) {
    gap: 33px;
    margin-top: 72px;
  }
}

.arrow-btn {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(180deg, #0f8 0%, #00c96b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}
