.play-section {
  padding-top: 58px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 142px;
    padding-bottom: 90px;
  }
}

.play-container {
  position: relative;
}

.play-bg-wrapper {
}

.play-title {
  background: #009421;
}

.play-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

.play-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    align-items: start;
    gap: 24px;
  }
}

.play-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;

  @include media(desktop) {
    padding: 12px 16px;
    gap: 24px;
    max-width: 456px;
  }
}

.play-item-number {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  background: linear-gradient(
    180deg,
    rgba(153, 0, 221, 0.93) 0%,
    #f25c39 50.48%,
    #ff8a00 99.99%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media(desktop) {
    font-size: 64px;
  }
}

.play-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}

.gallery-img {
  position: absolute;
  bottom: -24px;
  right: -20px;

  @include media(desktop) {
    position: relative;
    bottom: auto;
    right: auto;
  }
}
