<section class="section download-section" id="download">
  <div class="container download-container">
    <div class="download-wrapper">
      <div class="download-content-wrapper">
        <h2 class="download-title">Download Today!</h2>
        <p class="download-subtitle">
          Join the color puzzle adventure that’s taking over screens!
        </p>
        <p class="download-text">
          Whether you have just a few minutes or want to dive into dozens of
          levels, this game adapts to your mood. With easy-to-learn mechanics
          and endless room to master your skills, Color Rush Mania is the
          perfect match for puzzle lovers of all ages.
        </p>
        <div class="download-btn-wrapper">
          <a
            class="download-btn"
            href="#home"
            rel="noopener noreferrer"
            title="Download the game Color Rush Mania on Google Play"
            aria-label="Download the game Color Rush Mania on Google Play"
          >
            <picture>
              <source
                srcset="./img/hero/hero-download-desk.png"
                media="(min-width: 1440px)"
                width="221"
                height="68"
              />
              <source
                srcset="./img/hero/hero-download-mob.png"
                width="171"
                height="52"
              />
              <img
                class="download-google-play-img"
                src="./img/hero/hero-download-mob.png"
                alt="Google Play button"
                width="171"
                height="52"
              />
            </picture>
          </a>
        </div>
      </div>
      <picture>
        <source
          srcset="./img/download/download-bg-desk.png"
          media="(min-width: 1440px)"
          width="526"
          height="414"
        />
        <source
          srcset="./img/download/download-bg-mob.png"
          width="335"
          height="316"
        />
        <img
          class="download-bg-img"
          src="./img/download/download-bg-mob.png"
          alt="Puzzle"
          width="335"
          height="316"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
