<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <div class="section-bg-wrapper faq-bg-wrapper">
      <h2 class="section-title faq-title">FAQ</h2>
      <ul class="faq-list">
        <li class="faq-list-item">
          <div class="faq-item-top-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is Color Rush Mania free to play?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-bottom-wrapper">
            <p class="faq-bottom-text">
              Yes! The game is completely free. Optional in-app purchases are
              available for faster progression or cosmetics.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-top-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Do I need an internet connection?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-bottom-wrapper">
            <p class="faq-bottom-text">
              No, you can play offline. However, internet is needed to save
              progress to the cloud or make purchases.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-top-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">How do I unlock new levels?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-bottom-wrapper">
            <p class="faq-bottom-text">
              Finish current puzzle stages. New levels unlock as you complete
              them in sequence.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-top-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >What are the “Sort” and “Rainbow Gate” skills?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-bottom-wrapper">
            <p class="faq-bottom-text">
              "Sort" clears space in the dock. "Rainbow Gate" helps remove stuck
              boxes regardless of color.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-top-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Why did I lose the level even though I filled boxes?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-bottom-wrapper">
            <p class="faq-bottom-text">
              If the dock is full and a box doesn’t fit, you lose. Use Sort
              skill or pack boxes more efficiently.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-top-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play on multiple devices?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-bottom-wrapper">
            <p class="faq-bottom-text">
              Yes! If you're signed in with Google Play Games, your progress
              syncs across devices.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
