<div class="context-menu">
  <button class="close-btn" type="button" aria-label="Close mobile menu">
    <svg class="close-icon" width="32" height="32">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >About the Game</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery">Gallery</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#play">How to Play</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#skills"
          >Skills and Power-ups</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Game Features</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
    </ul>
  </nav>
</div>
