<section class="section play-section" id="play">
  <div class="container play-container">
    <div class="section-bg-wrapper play-bg-wrapper">
      <h2 class="section-title play-title">How to Play</h2>
      <div class="play-list-wrapper">
        <ul class="play-list">
          <li class="play-list-item">
            <span class="play-item-number">1</span>
            <p class="play-item-text">
              Move boxes in the direction shown by the arrow.
            </p>
          </li>
          <li class="play-list-item">
            <span class="play-item-number">2</span>
            <p class="play-item-text">
              Match box and gate colors to pass through.
            </p>
          </li>
          <li class="play-list-item">
            <span class="play-item-number">3</span>
            <p class="play-item-text">
              Fill boxes with colored balls before sending them to the dock.
            </p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/play/play-img-desk.png"
            media="(min-width: 1440px)"
            width="256"
            height="383"
          />
          <source
            srcset="./img/play/play-img-mob.png"
            width="75"
            height="112"
          />
          <img
            class="gallery-img"
            src="./img/play/play-img-mob.png"
            alt="Puzzle"
            width="75"
            height="112"
            loading="lazy"
          />
        </picture>
        <ul class="play-list">
          <li class="play-list-item">
            <span class="play-item-number">4</span>
            <p class="play-item-text">
              Keep an eye on the Ice timer — it will shatter when it hits zero!
            </p>
          </li>
          <li class="play-list-item">
            <span class="play-item-number">5</span>
            <p class="play-item-text">
              Collect matching keys to unlock locked boxes.
            </p>
          </li>
          <li class="play-list-item">
            <span class="play-item-number">6</span>
            <p class="play-item-text">
              Use skills like “Sort” and “Rainbow Gate” to solve tricky
              situations.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
